$primary: #7f5af0;
$secondary: #94a1b2;
$danger: #ef4565;
$success: #2cb67d;
$star: #faae2b;
$background: #16161a;

$lighten: 5;
$darken: 5;

$colors: (
  'primary': (
    base: $primary,
    light: lighten($primary, $lighten),
    dark: darken($primary, $darken),
  ),
  'secondary': (
    base: $secondary,
    light: lighten($secondary, $lighten),
    dark: darken($secondary, $darken),
  ),
  'danger': (
    base: $danger,
    light: lighten($danger, $lighten),
    dark: darken($danger, $darken),
  ),
  'success': (
    base: $success,
    light: lighten($success, $lighten),
    dark: darken($success, $darken),
  ),
  'star': (
    base: $star,
    light: lighten($star, $lighten),
    dark: darken($star, $darken),
  ),
  'background': (
    base: $background,
    light: lighten($background, $lighten),
    dark: darken($background, $darken),
  ),
  'neutral': (
    light: #fffffe,
  ),
);
