$CountryCard-padding: 22px;
$CountryCard-star-size: 32px;

.CountryCard {
  display: flex;
  flex-direction: column;
  background-color: color(background, light);
  padding: $CountryCard-padding;
  border-radius: 3px;
  position: relative;
}

.CountryCard__country {
  @include typography(header);
  margin-bottom: 16px;
  max-width: calc(100% - #{$CountryCard-star-size});
}

.CountryCard__metric {
  margin-bottom: 4px;
  font-size: 12px;
}

.CountryCard__metric i {
  font-weight: bold;
  font-size: 14px;
}

.CountryCard__metric:nth-child(1) {
  color: color(primary);
}

.CountryCard__metric:nth-child(2) {
  color: color(success);
}

.CountryCard__metric:nth-child(3) {
  margin-bottom: 0;
  color: color(danger);
}

.CountryCard__star {
  width: $CountryCard-star-size;
  min-width: $CountryCard-star-size;
  height: $CountryCard-star-size;
  min-height: $CountryCard-star-size;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(50%, -50%);
  top: $CountryCard-star-size;
  right: $CountryCard-star-size;
}

.CountryCard__star--filled {
  color: color(star);
}
